*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
header{
  position: sticky;
  top: 0;
  left: 0;
}
#search-container{
 background-color: gray;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 align-items: center;
 width: 100%;
 height: 5rem;
}
#search-container select{
 
 
}
#searchBar{
 display: flex;
 align-items: center;
}
#searchBar input {
 margin: 1rem;
}

.name { grid-area: name; }
.image { grid-area: image; }
.summary { grid-area: summary; }
.div-information { grid-area: div-information; }
.container{
 border: 1px solid gray;
 border-radius: 10px;
 margin: 10px;
 padding: 10px;
 height: fit-content;
 display: grid;
 grid-template-areas: 
 'name name name name'
 'image summary summary div-information';
 grid-gap: 10px;
}
.container h1{
 margin: 20px 0;
 
}
.container img{
 height: 75%;
 height: fit-content;
}
.container .summary{
 
}
.container .div-information{
 border: 1px solid gray;
 border-radius: 10px;
 height: fit-content;
 padding: 10px 20px;
}
.container .div-information p{
 margin-bottom: 2rem;
}

